/* h1 {
  color: green;
}

h1 {
  color: blue;
}

h1 {
  color: blueviolet;
}

h1 {
  color: red;
} */

/* ------------------------ */

/* вес селектора по айди - 100 */
#block {
  color: orange;
}

/* вес селектора по классу - 10 */
.block {
  color: green;
}

/* выбирает все элементы, у которых есть свойство class.
вес также составляет 10. */
[class] {
  color: blue;
}

/* вес селектора по тегу - 1 */
h1 {
  color: red;
}

/* наибольший вес имеет селектор с пометкой !important,
однако употреблять его не рекомендуется. */
h1 {
  color: darkmagenta !important;
}
