.units {
  display: flex;
  font-size: 50px;
  gap: 50px;
}

.units__col {
  flex: 0 1 50%;
}

.units__col h2 {
  text-align: center;
}

.units__item {
  font-size: 30px;
  background-color: rgb(224, 224, 224);
  margin-bottom: 5px;
  padding-left: 20px;
}

.line {
  height: 2px;
  background-color: #333;
  margin: 50px 0;
}

h3 {
  margin-bottom: 50px;
}

.em__square, .vhw__square, .vminmax__square {
  width: 500px;
  height: 500px;
  background-color: #333;
}

.parent-square {
  background-color: green;
  /* border: 5px solid #000; */
}

.parent-square__child {
  background-color: #333;
}

/* -------------------------------------------- */

.em {
  /* font-size: 16px; */
}

.em__title-1 {
  font-size: 2em;
}

.em__square {
  width: 31.25em;
  height: 31.25em;
}

.em-2 {
  /* 16px * 1.5 = 24 */
  font-size: 1.5em;
}

.em-2__child {
  /* 24px * 1.5 = 36 */
  font-size: 1.5em;
}

.em-2__title-1 {
  /* 36px * 1.5 = 54px */
  font-size: 1.5em;
}

.em-3 {
  font-size: 1.5em;
}

/* em слушают всех своих родителей, 
а rem слушают только самого старшего родителя - html */

.rem {
  font-size: 1.5rem;
}

/* проценты */
/* % ширины
% высоты
% позишна
% марджинов и паддингов
% транслейта
% фонтсайза и лайнхайта */

.parent-square {
  width: 700px;
  height: 1000px;
  /* position: relative; */
}

.parent-square__child {
  width: 50%;
  height: 50%;
  /* position: absolute;
  top: 0%;
  left: 0%; */
  /* margin-top: 0%;
  padding-top: 0%;
  transform: translatex(0%); */
  color: #fff;
  font-size: 200%; /* аналогично 2em */
  line-height: 200%;
}

.percent {
  font-size: 150%;
}

/* vh, vw */

.vhw__title-1 {
  font-size: 3vw;
}

.vhw__title-2 {
  font-size: 3vh;
}

.vhw__square {
  width: 50vw;
  height: 50vh;
}

/* vmin, vmax */

.vminmax__title-1 {
  font-size: 3vmin;
}

.vminmax__title-2 {
  font-size: 3vmax;
}

.vminmax__square {
  width: 50vmin;
  height: 50vmax;
}