html, body {
  color: #1e1b1b;
  cursor: default;
  font-family: "Manrope", sans-serif;
}

.button {
  background-color: #ff6433;
  border-radius: 12px;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.75;
  padding: 16px 40px;
  transition: all .3s;
  white-space: nowrap;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.button--black {
  background-color: #1E1B1B;
}

.container {
  height: 100%;
  margin: 0 auto;
  /* max-width = 1280px (ширина контент-области) + 15px*2 (два паддинга) */
  max-width: 1310px;
  padding: 0 15px;
}

.link {
  transition: all 1s;
}

.link:hover {
  color: #ff6433;
  transition: all .3s;
}

.link:active {
  color: darkred;
}

.main__blog {
  padding: 131px 0 136px 0;
}

.main__offer {
  margin-top: 135px;
  padding: 128px 0;
}

.main__stats {
  margin-bottom: 48px;
}

.main__we-follow {
  padding: 134px 0;
}

.title {
  font-size: 58px;
  font-weight: 800;
  line-height: 76px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

/* ------------------------------------------------------------ */

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header__top {
  padding: 18px 0px 16px 0px;
}

.header__top-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  font-weight: 600;
  line-height: 1.75;
  white-space: nowrap;
}

.header__nav-separator {
  margin: 0 32px;
}

.header__nav-assistance {
  display: flex;
}

.header__nav-assistance-img {
  align-items: center;
  display: flex;
  margin-right: 14px;
}

.header__nav-assistance-flexbox {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__nav-assistance-img a,
.header__nav-assistance-img img {
  border-radius: 50%;
  transition: all .3s;
}

.header__nav-assistance-img a:hover {
  transform: scale(1.1);
}

.header__nav-assistance-img a:active {
  transform: scale(0.9);
}

.header__nav-assistance-text {
  font-weight: 500;
  line-height: 1.75;
  white-space: nowrap;
}

.header__nav-assistance-phone {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.75;
  transition: all .3s;
  white-space: nowrap;
}

.header__nav-assistance-phone:hover {
  color: #ff6433;
}

/* -------------------------------------------------- */

.header__body {
  /* элемент может занимать всё оставшееся пространство: */
  /* flex-grow: 1; */

  /* margin: 80px 0 135px 0; */
  /* распологаем элемент по центру свободной области: */
  margin: auto 0;
}

.header__body-inner {
  display: flex;
}

.header__content {
  margin: auto 30px auto 0;
}

.header__title {
  font-size: 64px;
  line-height: 84px;
  margin-bottom: 32px;
}

.header__buttons-block {
  align-items: center;
  display: flex;
  margin-bottom: 64px;
}

.header__play-video {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-left: 33px;
  padding: 12px 16px 12px 16px;
  transition: all .3s;
}

.header__play-video img {
  margin-right: 8px;
}

.header__play-video:hover {
  transform: scale(1.1);
}

.header__play-video:active {
  transform: scale(0.95);
}

.header__we-are-open {
  display: flex;
}

.header__we-are-open-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 13px;
}

.header__we-are-open-upper-text {
  color: #939191;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.header__we-are-open-lower-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.75;
}

.header__image-container {
  position: relative;
}

.header__atop {
  align-items: center;
  background-color: #fff;
  border: 12px solid rgba(225, 225, 225, 0.43);
  border-radius: 59px;
  box-shadow: 0px 0px 0px 10px rgba(225, 225, 225, 0.43);
  display: inline-flex;
  padding: 0 14px;
}

.header__atop img {
  margin-right: 14px;
}

.header__atop-service {
  font-size: 24px;
  font-weight: 600;
  left: -30px;
  line-height: 36px;
  position: absolute;
  top: 81px;
}

.header__atop-rating {
  bottom: 70px;
  position: absolute;
  right: -20px;
}

.header__atop-rating-flexbox {
  display: flex;
  flex-direction: column;
  padding: 24px 12px;
}

.header__atop-rating-nums {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
}

.header__atop-rating-word {
  color: #000000;
  font-weight: 500;
  opacity: 0.7;
}

/* ------------------------------------------------------------ */

.offer {
  background-color: #F2F2F2;
}

.offer__title-section {
  margin-bottom: 64px;
}

.offer__subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 8px;
  text-align: center;
}

.offer__title {
  margin: 0 auto;
  max-width: 870px;
  text-align: center;
}

.offer__buttons-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.offer__button {
  align-content: center;
  aspect-ratio: 1 / 0.735;
  background-color: #ffffff;
  display: inline-block;
  margin: 0 8px 8px 0;
  text-align: center;
  transition: all .5s;
}

.offer__button:nth-child(4n) {
  margin-right: 0;
}

.offer__button:nth-child(n+5) {
  margin-bottom: 0;
}

.offer__button:hover {
  background-color: #ff6433;
  color: #fff;
}

.offer__button:hover img {
  filter: invert(100%);
}

.offer__button img {
  margin-bottom: 12px;
  transition: all .5s;
}

.offer__button-label {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.offer__bottom-inscription {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: flex-end;
  line-height: 175%;
  margin-top: 32px;
}

.offer__link {
  align-items: center;
  display: flex;
  transition: .7s;
}

.offer__link-image-container {
  height: 13px;
  position: relative;
  transition: all .7s;
  width: 54px;
}

.offer__link-image-container img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all .7s;
  width: 100%;
}

.offer__link-arrow {
  align-content: center;
}

.offer__link:hover .offer__link-image-container {
  margin-left: 10px;
}

.offer__link-arrow-orange {
  opacity: 0;
}

.offer__link-arrow-darkred {
  opacity: 0;
}

.offer__link:hover .offer__link-arrow {
  opacity: 0;
}

.offer__link:hover .offer__link-arrow-orange {
  opacity: 1;
}

.offer__link:active .offer__link-arrow-darkred {
  opacity: 1;
}

/* ------------------------------------------------------------ */

.we-follow .container {
  display: flex;
  flex-direction: row;
}

.we-follow__content {
  margin-right: 131px;
}

.we-follow__title {
  margin-bottom: 16px;
  max-width: 524px;
}

.we-follow__content-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 32px;
  max-width: 437px;
  opacity: 0.6;
}

.we-follow__list {
  list-style-type: none;
}

.we-follow__list-item {
  display: grid;
  gap: 0 24px;
  grid-template-columns: auto auto;
}

.we-follow__list-number {
  align-items: center;
  background-color: #661CE7;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 32px;
  font-weight: 700;
  height: 72px;
  justify-content: center;
  line-height: 24px;
  position: relative;
  width: 72px;
}

.we-follow__list-number::after {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 50%;
  content: "";
  height: 42px;
  position: absolute;
  top: 51px;
  width: 42px;
}

.we-follow__list-title {
  align-items: center;
  display: flex;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

.we-follow__list-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 175%;
  max-width: 336px;
  opacity: 0.6;
}

.we-follow__list-decor {
  display: flex;
  justify-content: center;
  padding: 22px 0;
}

/* ------------------------------------------------------------ */

.stats {}

.stats__img-block {
  display: flex;
  position: relative;
}

.stats__img-block img {
  transform: translateX(-318px);
  z-index: -1;
}

.stats__content {
  background-color: #FF6433;
  height: 100%;
  left: 0;
  max-width: 729px;
  position: absolute;
  top: 0;
  padding: 128px 80px 0 80px;
}

.stats__content .button {
  margin-left: -19px;
}

.stats__title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 140%;
  margin-bottom: 48px;
}

.stats__list {
  display: flex;
  justify-content: space-between;
}

.stats__list-item {

}

.stats__list-value {
  color: #661CE7;
  font-size: 58px;
  font-weight: 800;
  line-height: 76px;
}

.stats__list-indicator {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 36px;
  opacity: 0.7;
}

/* ------------------------------------------------------------ */

.blog__title {
  margin-bottom: 47px;
}

.blog__filter-box {
  margin-bottom: 46px;
}

.blog__filter-btn {
  background-color: transparent;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-right: 30px;
}

.blog__filter-btn:last-child {
  margin-right: 0;
}

.blog__filter-btn--active {
  text-decoration: underline;
}

.blog__list {
  display: grid;
  gap: 64px 32px;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
}

.blog__list-item {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.blog__list-link {
  display: block;
  transition: all .3s;
}

.blog__list-link:active {
  transform: scale(0.95);
}

.blog__list-link:hover .blog__list-title {
  color: #ff6433;
}

.blog__list-img-box {
  margin-bottom: 24px;
}

.blog__list-img-box img {
  height: 100%;
  width: 100%;
}

.blog__list-subtitle {
  color: #939191;
  margin-bottom: 16px;
}

.blog__list-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 16px;
  transition: all .7s;
}

.blog__list-text {
  color: #232536;
}