.title {
  color: rgb(255, 166, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.title-2 {
  text-decoration: overline;
}

.text {
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  font-weight: normal;
}

.line {
  height: 2px;
  width: 100%;
  background-color: #000000;
}

.text-2 {
  text-align: right;
  text-decoration: wavy underline;
  
}

.text-3 {
  text-shadow: 17px 8px 10px #ff7300;
}

.text-4 {
  text-transform: capitalize;
  text-align: justify;
}

.text-5 {
  text-indent: 50px;
  letter-spacing: 3px;
}

.text-6 {
  word-spacing: 15px;
}

.text-7 {
  white-space: nowrap;
}

.jost-text {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}